.table-header th {
  padding: 12px;
  border-bottom: 2px solid #e0e0e0;
  background-color: #2c3e50;
  color: #ffffff;
  font-weight: 600;
}

.table-header th.sortable {
  cursor: pointer;
}

.table-header-cell{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.table-header-cell span {
  display: flex;
  align-items: center;
  gap: 4px;
}
