.table-header th {
  padding: 12px;
  border-bottom: 2px solid #e0e0e0;
  background-color: #F5F5F5;
  color: #000;
  font-size: var(--Typeface-Size-Base, 14px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Typeface-line-height-line-height-500, 20px);
  letter-spacing: var(--Typeface-letter-spacing--dense, -0.2px);
}

.table-header th.sortable {
  cursor: pointer;
}

.table-header-cell{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  padding: 12px;
}

.table-header-cell span {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: var(--Typeface-Size-Base, 14px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Typeface-line-height-line-height-500, 20px);
  letter-spacing: var(--Typeface-letter-spacing--dense, -0.2px);
  color: #000;
}

.sort-icon{
  width: 10px;
}
/* Custom styled checkbox for selection */
.row-checkbox {
  width: 14px;
  height: 14px;
  border-radius: 4px;
  border: 1.2px solid #5D5FEF;
  background: #fff;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: 0 8px 0 0;
  vertical-align: middle;
}

.row-checkbox:checked {
  background: #fff;
  border: 1.2px solid #5D5FEF;
}

.row-checkbox:checked::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid #5D5FEF;
  border-width: 0 2px 2px 0;
  border-radius: 4px;
  transform: rotate(45deg);
  display: block;
} 