.row-group-table-row {
  cursor: pointer;
  border: none;
  margin-bottom: 4px;
  margin-top: 4px;
  border-bottom: 1px solid #2F736E1F;
}

.row-group-level-cell {
  width: 5px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #2F736E1F;
  line-height: 1rem;
  padding-right: 0px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.row-group-expand-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.row-group-action-cell {
  padding: 0.75rem 0;
  border: none;
  border-left: 1px solid #2F736E1F;
  background: #2F736E1F;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.row-group-update-cell {
  padding: 0;
  background-color: #2F736E1F;
  border-bottom: none;
  border-radius: 16px;
}

.row-group-dynamic-row {
  background-color: #FFFFFF;
}

.row-group-dynamic-cell {
  border-left: 1px solid #2F736E1F;
  border-right: 1px solid #2F736E1F;
  background: #FFFFFF;
}

.row-group-dynamic-cell-first {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.row-group-dynamic-cell-last {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.row-group-action-button {
  display: flex;
  align-items: center;
  gap: 4px;
}

.row-group-action-icon {
  width: 16px;
  height: 16px;
}

.row-group-action-label {
  font-size: 14px;
  color: #162C36;
} 